{% load static %}
<header class="header-section">
	<div class="container">
		<!-- logo -->
		<a class="site-logo" href={% url 'home' %}>
			<img src="{% static 'img/logo.png' %}" alt="">
		</a>
		<!-- responsive -->
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<!-- site menu -->
		<nav class="main-menu">
			<ul>
				<li><a href={% url 'home' %}>Home</a></li>
				<li><a href={% url 'about' %}>about</a></li>
				<li><a href={% url 'blog_post' %}>Blog</a></li>
                {% if request.user.is_authenticated %}
                <li><a href={% url 'perfil' %}>{{request.user.username}}</a></li>
				<li><a href={% url 'blog_get'%}>Subir Post</a></li>
                <li><a href={% url 'logout' %}>Logout</a></li>
				<li><a href={% url 'Messages' %}>Mensajes</a></li>
                {% else %}
                <li><a href={% url 'login' %}>Login</a></li>
                <li><a href={% url 'register'%}>Registrarse</a></li>
                {% endif %}
			</ul>
		</nav>
	</div>
</header>