
<div class="latest-news-section">
    <div class="ln-title">Mensajes</div>
    <div class="news-ticker">
        <div class="news-ticker-contant">
            {% if msj %}
            <div class="nt-item"><span class="new">new</span>{{msj}}</div>
            {% else %}
			<div class="nt-item"><span class="strategy"></span> Bienvenido!</div>
            {% endif %}
			<div class="nt-item"><span class="racing"></span>Tu super blog de confianza para contarnos tus partidas Online<</div>
        </div>
    </div>
</div>