{% extends 'base.html' %}
{% include 'partials/navbar.html' %}
{% block content %}
<header class="row bg-black">  
    <div class="col-md-8 my-auto p-4">
      <h1><strong>Jerson Huaman</strong></h1>
      <h3>Un poco Sobre Mi</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora perspiciatis molestias iusto ducimus
        soluta mollitia ratione, fuga praesentium, reiciendis minima! Facere, veniam! Omnis, quod molestias quo fugit enim
        vero vitae, cumque tenetur at, impedit provident dicta laudantium quia facilis consequuntur blanditiis iste
        laborum voluptatibus libero doloribus? Pariatur voluptatem obcaecati deserunt aperiam exercitationem nam voluptas
        rerum reprehenderit minima, earum impedit saepe eos ducimus fugit itaque a nulla omnis architecto laudantium
        blanditiis? Eius ipsum quidem enim architecto fugiat porro inventore libero praesentium aperiam nulla
        exercitationem nemo soluta, culpa impedit est et doloribus ut necessitatibus odit, dicta voluptate! Vero ab nulla
        placeat.</p>
    </div>
  </header>
  {% endblock %}