{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>About</title>
{% endblock title %}

{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}

{% block main_content %}

<section class="recent-game-section spad set-bg" data-setbg="{% static 'img/recent-game-bg.png' %}">
  <div class="container">
    <div class="section-title">
      <div class="cata new"></div>
      <h2>Un poco Sobre Mi</h2>
    </div>
    <div class="col-auto">
      <div class="col-md-8 my-auto p-4">
        <div class="recent-game-item">
          <div class="rgi-content">
            <h5>Jerson Huaman</h5>
            <p> Hola mi nombre es Jerson Huaman Moreno , comence en este mundo de la programacion mas que todo por curiosidad de como
              es que se hacen las paginas web y los sistemas de ventas de las empresas he cursado el curso de Desarrollo Web , Javascripts, ReactJs , SQL
              y ahora terminando el curso de python y pronto terminar el curso de Back End , Quiero seguir aprendiendo hacerca de este mundo , lo que mas me gusta
              es el desarrollo web desde el Front End , odio el Back End :c , espero les guste este pequeño proyecto que es un blog , para el curso de Python
              es un blog Gamer donde puedes compartir tus expereciencias en los videojuegos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock %}