{% extends 'base.html' %}
{% load static %}
{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}

{% block main_content %}
<h1 class="text-center">Soy un Post</h1>
<div class="row my-4 text-center">
  {% if posts %}
  {% for form in posts %}
  <div class="col-md-4 p-4">
    <div class="card">
      <div class="review-item">
        {% if form.image %}
        <img src="{{form.image.url}}" class="review-cover set-bg">
        {% else %}
        <img class="card-img-top" src="https://pescadata-images.s3.us-west-1.amazonaws.com/1642026639704no-image.png" alt="..." object-fit="contain" />
        {% endif %}
        <h2 >{{form.titulo }}</h2>
        <p >{{ form.description|striptags|truncatechars:100 }}</p>
        <a href={% url 'editar_blog' form.id %}>editar</a>
        <a href={% url 'eliminar_blog' form.id %}>eliminar</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  no se encontraron post
  {% endif %}
</div>
{% endblock %}