{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Editar Post</title>
{% endblock title %}

{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}

{% block main_content %}
<section class="tournaments-section spad">
    <div class="container">
        <div class="tournament-title">Editar Blog</div>
        <div class="row">
            <div class="col-md-6">
                <div class="tournaments-section mb-4 mb-lg-0 back" >
                    <div class="ti-content">
                        <form action={% url 'editar_blog' post.id %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class='text-white'>
                                {{form.media}}
                                {{form.as_table}}
                            </table>
                            <button>Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}