{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock title %}
{% load static %}
{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}

{% block main_content %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg={% static 'img/slider-1.jpg' %}>
            <div class="hs-text">
                <div class="container">
                    <h2>Comparte<span> Tus</span> Experiencias</h2>
                    <p>Comparte Tus experiencias de juego con nuestra <br> comunidad de gamers , queremos que te sientas en familia. <br>Estamos Para Apoyarnos.</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg={% static 'img/slider-2.jpg' %}>
            <div class="hs-text">
                <div class="container">
                    <h2>The Best <span>Games</span> Out There</h2>
                    <p>Crea Una cuenta con nosotros registrate <br> Y Comienza a compartir ya tus experiencias. <br>Juntos podemos brindarnos soporte c:</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}