{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Mi Usuario</title>
{% endblock title %}
{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}


{% block main_content %}
<section class="py-5">
    <div class="container my-5">
        <div class="col-lg-6">

            <h1>Editar perfil</h1>

            <form action={% url 'editar' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
                <button> Guardar</button>
            </form>

        </div>
    </div>
</section>
{% endblock %}