{% extends 'base.html' %}
{% load static %}
{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}


{% block main_content %}

<section class="review-section review-dark spad set-bg" data-setbg="{% static 'img/review-bg-2.jpg' %}">
    <div class="container">
        <div class="text-white">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_p}}
                </table>
                <button>Entrar</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}