{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Logout</title>
{% endblock title %}
{% block header %}

{% include 'partials/header.html' %}

{% endblock header %}

{% block main_content %}
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/4.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Muchas Gracias, Te deslogueaste con Exito!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}