{% extends 'base.html' %}
{% include 'partials/navbar.html' %}


{% block content %}
<p>
    <ul>
        <li class="bg-black">Nombre: {{request.user.first_name}}</li>
        <li class="bg-black">Apellido: {{request.user.last_name}}</li>
        <li class="bg-black">Email: {{request.user.email}}</li>
        <li>
            <p class="bg-black">Avatar:</p>
            {% if request.user.masdatosusuario.avatar %}
            <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="200px">
            {% endif %}
        </li>
    </ul>
</p>
<p>
    <a href={% url 'editar' %}>Editar mis datos</a>
</p>
{% endblock %}